@{
    ViewData["Title"] = "Потребители";
}

<h1>Потребители</h1>

<a href="/Users/Create" class="btn btn-primary">Добави потребител</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Име</th>
            <th>Имейл</th>
            <th>Роля</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a href="/Users/Edit/@user.Id" class="btn btn-warning">Редактирай</a>
                    <a href="/Users/Delete/@user.Id" class="btn btn-danger">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
