@{
    ViewData["Title"] = "Участници";
}

<h1>Участници</h1>

<a href="/Participants/Create" class="btn btn-primary">Добави участник</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Име на участник</th>
            <th>Проект</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var participant in Model)
        {
            <tr>
                <td>@participant.Name</td>
                <td>@participant.Project.Name</td>
                <td>
                    <a href="/Participants/Edit/@participant.Id" class="btn btn-warning">Редактирай</a>
                    <a href="/Participants/Delete/@participant.Id" class="btn btn-danger">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
